/* .img1,
.img2,
.img3 {
    display: flex;

border-radius: 20px;
transition: box-shadow 0.3s ease;
opacity: 0.9;
padding: 5px;
}

*/
/* .img1 {
    background-color: #E6F3FA;
    width: 32%;
    height: 45%;
    margin-right: 680px;
} */
/* 
.img2 {
    background-color: #F9EBE7;
    height: 45%;
    margin-right: 0px;
    width: 32%;
} */

/* .img3 {
    background-color: #EEF5E5;
    height: 45%;
    width: 32%;
} */

/* .img1 button:hover,
.img2 button:hover,
.img3 button:hover {
    color: white;
    background-color: blue;
    box-shadow: 0px 5px 10px;
    z-index: 100;
} */

/* Hover Box Shadow */
/* .img1:hover,
.img2:hover,
.img3:hover {
    box-shadow: 0px 5px 10px;
    z-index: 100;
} */