.cd2img1,
.cd2img2,
.cd2img3,
.cd2img4,
.cd2aimg1,
.cd2aimg2,
.cd2aimg3,
.cd2aimg4 {
    width: 320px;
    height: 250px;
    background-color: white;
    padding: 10px;
    position: absolute;
    align-items: center;
    align-content: center;
}

.cd2aimg1,
.cd2aimg2,
.cd2aimg3,
.cd2aimg4 {
    margin-top: 250px;

}

.cd2img2,
.cd2aimg2 {
    margin-left: 340px;
}

.cd2img3,
.cd2aimg3 {
    margin-left: 680px;
}

.cd2img4,
.cd2aimg4 {
    margin-left: 1020px;
}

.butn:hover {
    color: black;
}